.input {
  margin: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

.btn {
  margin: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

::placeholder {
  text-align: center;
}

.checkbox {
  font-family: sans-serif;
}

.checkbox:input {
  display: inline-block;
}

.error {
  color: red;
  font-size: 13px;
}
