.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  text-align: center;
  position: fixed;
  top: 30vh;
  overflow: hidden;
  background: white;
  animation: slide-down 300ms ease-out forwards;
}

.header {
  background: gray;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.actions {
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
